<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PageFlow</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>x86_64</string>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>8753F2F0E59CB39218C0A6198680F438AB162385</string>
				<key>dateExpires</key>
				<string>6/7/26</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>x86_64</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>2050</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8753F2F0E59CB39218C0A6198680F438AB162385</string>
						<key>dateExpires</key>
						<string>6/7/26</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>embeddedBinaries</key>
					<array>
						<dict>
							<key>architectures</key>
							<array>
								<string>x86_64</string>
								<string>arm64</string>
							</array>
							<key>certificate</key>
							<dict>
								<key>SHA1</key>
								<string>8753F2F0E59CB39218C0A6198680F438AB162385</string>
								<key>dateExpires</key>
								<string>6/7/26</string>
								<key>type</key>
								<string>Apple Development</string>
							</dict>
							<key>entitlements</key>
							<dict>
								<key>com.apple.application-identifier</key>
								<string>org.sparkle-project.Sparkle.Autoupdate</string>
							</dict>
							<key>name</key>
							<string>Autoupdate</string>
							<key>team</key>
							<dict>
								<key>id</key>
								<string>V43797R8Q6</string>
								<key>name</key>
								<string>Pin Chen Chong</string>
							</dict>
						</dict>
						<dict>
							<key>architectures</key>
							<array>
								<string>x86_64</string>
								<string>arm64</string>
							</array>
							<key>buildNumber</key>
							<string>2050</string>
							<key>certificate</key>
							<dict>
								<key>SHA1</key>
								<string>8753F2F0E59CB39218C0A6198680F438AB162385</string>
								<key>dateExpires</key>
								<string>6/7/26</string>
								<key>type</key>
								<string>Apple Development</string>
							</dict>
							<key>name</key>
							<string>Updater.app</string>
							<key>team</key>
							<dict>
								<key>id</key>
								<string>V43797R8Q6</string>
								<key>name</key>
								<string>Pin Chen Chong</string>
							</dict>
							<key>versionNumber</key>
							<string>2.8.1</string>
						</dict>
						<dict>
							<key>architectures</key>
							<array>
								<string>x86_64</string>
								<string>arm64</string>
							</array>
							<key>buildNumber</key>
							<string>2050</string>
							<key>certificate</key>
							<dict>
								<key>SHA1</key>
								<string>8753F2F0E59CB39218C0A6198680F438AB162385</string>
								<key>dateExpires</key>
								<string>6/7/26</string>
								<key>type</key>
								<string>Apple Development</string>
							</dict>
							<key>name</key>
							<string>Downloader.xpc</string>
							<key>team</key>
							<dict>
								<key>id</key>
								<string>V43797R8Q6</string>
								<key>name</key>
								<string>Pin Chen Chong</string>
							</dict>
							<key>versionNumber</key>
							<string>2.8.1</string>
						</dict>
						<dict>
							<key>architectures</key>
							<array>
								<string>x86_64</string>
								<string>arm64</string>
							</array>
							<key>buildNumber</key>
							<string>2050</string>
							<key>certificate</key>
							<dict>
								<key>SHA1</key>
								<string>8753F2F0E59CB39218C0A6198680F438AB162385</string>
								<key>dateExpires</key>
								<string>6/7/26</string>
								<key>type</key>
								<string>Apple Development</string>
							</dict>
							<key>name</key>
							<string>Installer.xpc</string>
							<key>team</key>
							<dict>
								<key>id</key>
								<string>V43797R8Q6</string>
								<key>name</key>
								<string>Pin Chen Chong</string>
							</dict>
							<key>versionNumber</key>
							<string>2.8.1</string>
						</dict>
					</array>
					<key>name</key>
					<string>Sparkle.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V43797R8Q6</string>
						<key>name</key>
						<string>Pin Chen Chong</string>
					</dict>
					<key>versionNumber</key>
					<string>2.8.1</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>com.apple.security.app-sandbox</key>
				<true/>
				<key>com.apple.security.files.user-selected.read-write</key>
				<true/>
			</dict>
			<key>name</key>
			<string>PageFlow.app</string>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>V43797R8Q6</string>
				<key>name</key>
				<string>Pin Chen Chong</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
